<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.wdxxl.plugin.lucene" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>lucene_plugin</name>
  <js-module name="lucene_plugin" src="www/lucene_plugin.js">
    <clobbers target="cordova.plugins.lucene_plugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="lucene_plugin">
        <param name="android-package" value="com.wdxxl.plugin.lucene.lucene_plugin" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>
    <source-file src="src/android/lucene_plugin.java" target-dir="src/com/wdxxl/plugin/lucene/lucene_plugin" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="lucene_plugin">
        <param name="ios-package" value="lucene_plugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/lucene_plugin.m" />
    <header-file src="src/ios/FISLogManager.h"/>
    <source-file src="src/ios/FISLogManager.m"/>
    <header-file src="src/ios/FISOperationCallbackModel.h"/>
    <source-file src="src/ios/FISOperationCallbackModel.m"/>
    <framework src="libiconv.dylib"/>
    <framework src="libz.tbd"/>
    <!-- Lucene Index -->
    <header-file src="src/ios/org" />
    <source-file framework="true" src="src/ios/libs/liblucene_fis_arc_static_lib_git.a" target-dir="../../.."/>
    <!-- customer code-->
    <header-file src="src/ios/com" />
    <!-- Commons-lang3-3.4 & Commons-codec1.10 -->
    <source-file framework="true" src="src/ios/libs/libcommons_noarc_static_lib.a" target-dir="../../.."/>
    <!-- jsoup-1.8.3 -->
    <source-file framework="true" src="src/ios/libs/libjsoup_noarc_static_lib.a" target-dir="../../.."/>
    <!-- gson-2.6.2 -->
    <source-file framework="true" src="src/ios/libs/libgson_noarc_static_lib.a" target-dir="../../.."/>
    <!-- sync index Start -->
    <source-file src="src/ios/com/flatirons/ppmob/sync/index/IDoIndexService.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/sync/index/IDoIndexService.m" />
    <source-file src="src/ios/com/flatirons/ppmob/sync/index/impl/DoIndexServiceImpl.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/sync/index/impl/DoIndexServiceImpl.m" />
    <source-file src="src/ios/com/flatirons/ppmob/sync/index/impl/DoIndexServiceImplOld.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/sync/index/impl/DoIndexServiceImplOld.m" />
    <!-- sync index End -->
    <!-- common log Start -->
    <source-file src="src/ios/com/flatirons/ppmob/common/log/ILogService.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/common/log/ILogService.m" />
    <source-file src="src/ios/com/flatirons/ppmob/common/log/impl/IOSLogServiceImpl.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/common/log/impl/IOSLogServiceImpl.m" />
    <!-- common log End -->
    <!-- common file Start -->
    <source-file src="src/ios/com/flatirons/ppmob/common/file/IFileService.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/common/file/IFileService.m" />
    <source-file src="src/ios/com/flatirons/ppmob/common/file/impl/IOSFileServiceImpl.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/common/file/impl/IOSFileServiceImpl.m" />
    <!-- common file End -->
    <!-- common callback Start -->
    <source-file src="src/ios/com/flatirons/ppmob/common/callback/ICallbackService.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/common/callback/ICallbackService.m" />
    <source-file src="src/ios/com/flatirons/ppmob/common/callback/impl/IOSCallbackServiceImpl.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/common/callback/impl/IOSCallbackServiceImpl.m" />
    <!-- common callback End -->
    <source-file src="src/ios/com/flatirons/ppmob/common/ICommonService.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/common/ICommonService.m" />
    <source-file src="src/ios/com/flatirons/ppmob/common/ServiceCategory.m" compile-flags="-Icordova_lucene_tunning/plugins/com.wdxxl.plugin.lucene/src/ios/com/flatirons/ppmob/common/ServiceCategory.m" />
    <!-- SSZipArchive Common Code (Pods 1.8.1) -->
    <header-file src="src/ios/SSZipArchive/SSZipArchive.h"/>
    <source-file src="src/ios/SSZipArchive/SSZipArchive.m"/>
    <header-file src="src/ios/SSZipArchive/SSZipCommon.h"/>
    <header-file src="src/ios/SSZipArchive/ZipArchive.h"/>
    <!-- SSZipArchive MiniZip Code -->
    <source-file src="src/ios/SSZipArchive/minizip/crypt.h" />
    <source-file src="src/ios/SSZipArchive/minizip/ioapi.c" />
    <source-file src="src/ios/SSZipArchive/minizip/ioapi.h" />
    <source-file src="src/ios/SSZipArchive/minizip/mztools.c" />
    <source-file src="src/ios/SSZipArchive/minizip/mztools.h" />
    <source-file src="src/ios/SSZipArchive/minizip/unzip.c" />
    <source-file src="src/ios/SSZipArchive/minizip/unzip.h" />
    <source-file src="src/ios/SSZipArchive/minizip/zip.c" />
    <source-file src="src/ios/SSZipArchive/minizip/zip.h" />
    <!-- SSZipArchive aes Code -->
    <source-file src="src/ios/SSZipArchive/aes/aes.h" />
    <source-file src="src/ios/SSZipArchive/aes/aes_via_ace.h" />
    <source-file src="src/ios/SSZipArchive/aes/aescrypt.c" />
    <source-file src="src/ios/SSZipArchive/aes/aeskey.c" />
    <source-file src="src/ios/SSZipArchive/aes/aesopt.h" />
    <source-file src="src/ios/SSZipArchive/aes/aestab.c" />
    <source-file src="src/ios/SSZipArchive/aes/aestab.h" />
    <source-file src="src/ios/SSZipArchive/aes/brg_endian.h" />
    <source-file src="src/ios/SSZipArchive/aes/brg_types.h" />
    <source-file src="src/ios/SSZipArchive/aes/entropy.c" />
    <source-file src="src/ios/SSZipArchive/aes/entropy.h" />
    <source-file src="src/ios/SSZipArchive/aes/fileenc.c" />
    <source-file src="src/ios/SSZipArchive/aes/fileenc.h" />
    <source-file src="src/ios/SSZipArchive/aes/hmac.c" />
    <source-file src="src/ios/SSZipArchive/aes/hmac.h" />
    <source-file src="src/ios/SSZipArchive/aes/prng.c" />
    <source-file src="src/ios/SSZipArchive/aes/prng.h" />
    <source-file src="src/ios/SSZipArchive/aes/pwd2key.c" />
    <source-file src="src/ios/SSZipArchive/aes/pwd2key.h" />
    <source-file src="src/ios/SSZipArchive/aes/sha1.c" />
    <source-file src="src/ios/SSZipArchive/aes/sha1.h" />
  </platform>
</plugin>
